<%= render(partial: '/partials/nav_bar') %>
<%= javascript_tag "roomName = \"#{@course.name}\"" %>

<h1 class="course-name">Course: <%= @course.name %></h1>

<span>Question</span>

<div class="poll-form">
  <input class="poll-question" type="textarea" value="<%=poll.question%>"/>

  <div class="poll-options">
    <% poll.options.order(:number).each do |option| %>
      <div class="poll-option">
        <span>Option <%= option.number %></span>
        <input type="textarea" value="<%=option.value%>"/>
      </div>
    <% end %>
  </div>
</div>

<div class="response-counter center" class="row">
  <p><span id="counter">0</span> out of <span id="active-connections"><%= ActionCable.server.connections.length - 1 %></span> students have answered</p>
</div>

<div class="end-poll-container">
  <%= link_to("End Poll and View Results", "#{course_poll_path(poll.course, poll)}/end", method: :post, class: "btn big-btn btn-default end-poll") %>
</div>