<%= render(partial: '/partials/nav_bar') %>
<h1 class="course-name">Course: <%= @course.name %></h1>

<%= javascript_tag "roomName = \"#{@course.name}\"" %>

<div class="custom-panel">
  <h2 class="header"><%= poll.question %> </h2>

  <div class="content">
    <div class="chart">
      <%= column_chart poll.get_vote_data %>
    </div>

    <div class="poll-results-buttons">
      <%= link_to("New Poll", "#{course_path(poll.course)}/polls/new" , method: :get, class: "btn big-btn btn-default new-poll-button") %>
      <%= link_to("Return to Questions", course_path(poll.course) , method: :get, class: "btn big-btn btn-default return-button") %>
    </div>
  </div>
</div>