<%= render(partial: '/partials/nav_bar', locals: { is_poll: true }) %>
<h1 class="course-name">Course: <%= @course.name %></h1>

<%= javascript_tag "roomName = \"#{@course.name}\"" %>

<span>Question</span>

<form id="poll-form" class="poll-form" action="<%= course_polls_path(@course) %>" method="post">
  <input id="poll-question" class="poll-question" name="question" type="textarea" class="form-control" placeholder="Type your question for the poll here"/>
  
  <div id="poll-options" class="poll-options"></div>
</form>

<div class="poll-buttons">
  <div id="add-option" class="btn btn-primary">Add Option</div>
  <div id="remove-option" class="btn btn-danger disabled">Remove Option</div>
  <div id="start-polling-button" class="btn btn-default">Start Polling</div>
</div>

<%= render(partial: '/partials/modal', locals: { body: '/partials/message_modal', id: 'message-modal', include_button: true }) %>