<div id="q<%=question.id%>" class="question-item professor">
  <span class="fa fa-thumbs-up"> <%= question.upvotes %></span>
  
  <span class="fa fa-thumbs-down"> <%= question.downvotes %></span>

  <span class="question-text"><%= question.question %></span>

  <form class="in-class" data-remote="true" method="post" action="/questions/<%=question.id%>/in_class">
    <button class="btn <%= question.status=="answered in class" ? "btn-success" : "text-success" %>">in class</button>
  </form>

  <form class="after-class" data-remote="true" method="post" action="/questions/<%=question.id%>/after_class">
    <button class="btn <%= question.status=="will answer after class" ? "btn-primary" :  "text-primary" %>">after class</button>
  </form>

  <form class="delete" data-remote="true" method="post" action="/questions/<%=question.id%>/delete">
    <button type="submit" class="btn fa fa-trash icon-2x btn-dark"></button>
  </form>
</div>