<div id="q<%=question.id%>" class="question-item student">
	<div class="question-data">
		<span class="question-text" maxlength="105"><%= question.question %></span>
		<span class="question-status">Status: <%= question.status %></span>
	</div>
	
	<form class="upvotes" data-remote="true" action="/questions/<%=question.id%>/thumbsup" method="post">
		<button type="submit" class="btn fa fa-thumbs-up<%= vote=="up" ? " btn-primary" : " text-primary" %>"> <%= question.upvotes %></button>
	</form>

	<form class="downvotes" data-remote="true" action="/questions/<%=question.id%>/thumbsdown" method="post">
		<button type="submit" class="btn fa fa-thumbs-down<%= vote=="down" ? " btn-danger" : " text-danger" %>"> <%= question.downvotes %></button>
	</form>

	<form class="flag" data-remote="true" action="/questions/<%=question.id%>/flag" method="post">
		<button type="submit" class="btn fa fa-flag btn-warning"></button>
	</form>
</div>