<%= render '/partials/nav_bar', leave_class_href: "/index.html" %>
<%= render '/partials/heading2', course: course.name %>

<%= javascript_tag "room_name = \"#{course.name}\"" %>

<div id="questions-container" class="row custom-bar">
  <div class="col-md-1"></div>

  <div id="questions" class="col-md-10">
    <h1 id="no-questions"> No questions available </h1>

    <% course.questions.order("upvotes DESC, downvotes ASC").where("flagged < #{Question::FLAG_THRESHOLD}").all.each do |question| %>
    <% if !flagged[question.id.to_s] %>
    <%= render 'student_questions', question: question, vote: data[question.id.to_s] %>
    <% end %>
    <% end %>
  </div>
  
  <div class="col-md-1"></div>
</div>

<div class="separator-md"></div>

<div class="row">
  <div class="col-md-1"></div>
  <form class="col-md-7 big-line" id="ask-form" action="/courses/<%=course.id%>/ask_question" method="post" data-remote="true">
    <input name="question" type="textarea" placeholder="Enter question here" maxlength="105"/>
  </form>
  <div class="col-md-2 big-line center" style="padding-right:5px"><button id="ask-button" type="submit" class="btn btn-inverse fit big-btn">Ask</button></div>
  <div class="col-md-2"></div>
</div>

<a data-toggle="modal" data-target="#poll-modal" class="hidden" id="modal-button"></a>

<%= render '/polls/student_poll_container_modal', course: course %>
