<%= render '/partials/nav_bar' %>

<%= javascript_tag "room_name = \"#{@course.name}\"" %>

<div class="course-page-container">
  <h1 class="course-name">Course: <%= @course.name %></h1>

  <div id="questions-container" class="row custom-bar questions-container lecturer-questions">
    <div class="question-item no-questions"> No questions available </div>

    <% @course.questions.order("upvotes DESC, downvotes ASC").where("flagged < #{Question::FLAG_THRESHOLD}").all.each do |question| %>
      <% if !@student || Flag.where(course: @course, questions: question, student: @student).count==0 %>
        <%= render 'question', question: question, vote: data[question.id.to_s] %>
      <% end %>
    <% end %>
  </div>

  <div class="questions-form">
    <% if @lecturer && @lecturer.id == @course.lecturer.id %>
      <div class="poll-class">
        <form action="poll_class.html" method="get">
          <button class="btn btn-default fit big-btn">Poll Class</button>
        </form>
      </div>
    <% else %>
      <div class="ask-question">
        <form action="/courses/<%=@course.id%>/ask_question" method="post" data-remote="true">
          <input name="question" type="textarea" placeholder="Enter question here" maxlength="105"/>
        </form>

        <button type="submit" class="btn btn-inverse fit big-btn">Ask</button>
      </div>
    <% end %>
  </div>
</div>

<% if !@lecturer || @lecturer.id != @course.lecturer.id %>
  <a data-toggle="modal" data-target="#poll-modal" class="hidden" id="modal-button"></a>
  <%= render '/polls/student_poll_container_modal' %>
<% end %>
