<%= render(partial: '/partials/nav_bar') %>

<%= javascript_tag "roomName = \"#{course.name}\"" %>

<div class="course-page-container">
  <h1 class="course-name">Course: <%= course.name %></h1>

  <div id="questions-container" class="row questions-container <%= !lecturer.nil? ? "lecturer-questions" : "student-questions" %>">
    <div class="question-item no-questions"> No questions available </div>

    <% course.questions.sort_by{|question| [-question.upvote_count, question.downvote_count, question.created_at]}.each do |question| %>
      <% next if student.has_flagged?(question) %>

      <%= render(partial: 'question', locals: {question: question, lecturer: lecturer, student: student, course: course}) %>
    <% end %>
  </div>

  <% if !lecturer.nil? %>
    <form class="course-page-form poll-class" action="<%="#{course_path}/polls/new"%>" method="get">
      <button class="btn big-btn btn-default fit">Poll Class</button>
    </form>
  <% else %>
    <form class="course-page-form ask-question" action="<%= "#{course_path(course)}/questions" %>" method="post" data-remote="true">
      <input name="question" type="textarea" placeholder="Enter question here" maxlength="105"/>
      <button type="submit" class="btn big-btn btn-default fit" data-remote="true">Ask</button>
    </form>
  <% end %>
</div>

<% if lecturer.nil? %>
  <a data-toggle="modal" data-target="#poll-modal" id="modal-button">Button</a>

  <div id="poll-modal" modal-backdrop="static" class="poll-modal modal fade" role="dialog">
    <div class="modal-dialog">
      <div id="poll-body" class="modal-body custom-panel">
        <% if @course.has_active_poll? %>
          <%= render(partial: '/polls/student_poll', locals: { poll: course.get_active_poll }) %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
