<%= render '/partials/nav_bar' %>
<%= render '/partials/heading2' %>

<%= javascript_tag "room_name = \"#{@course.name}\"" %>

<div class="course-page-container">
  <div id="questions-container" class="row custom-bar questions-container student-questions">
    <div class="question-item no-questions"> No questions available </div>

    <% @course.questions.order("upvotes DESC, downvotes ASC").where("flagged < #{Question::FLAG_THRESHOLD}").all.each do |question| %>
    <% if !flagged[question.id.to_s] %>
    <%= render 'student_question', question: question, vote: data[question.id.to_s] %>
    <% end %>
    <% end %>
  </div>
 
  <div class="ask-question">
    <form action="/courses/<%=@course.id%>/ask_question" method="post" data-remote="true">
      <input name="question" type="textarea" placeholder="Enter question here" maxlength="105"/>
    </form>

    <button type="submit" class="btn btn-inverse fit big-btn">Ask</button>
  </div>
</div>

<a data-toggle="modal" data-target="#poll-modal" class="hidden" id="modal-button"></a>

<%= render '/polls/student_poll_container_modal' %>
