<%= render(partial: '/partials/nav_bar') %>
<%= javascript_tag "roomName = \"\"" %>

<div class="custom-container lecturer-profile">
  <div class="custom-panel lecturer-classes custom">
    <div class="header">
      <span>Classes</span>
    </div>

    <div class="contents">
      <div class="list class-list">
        <div class="list-item empty-grid"> (you have no courses) </div>
        
        <% lecturer.courses.sort_by { |course| course.name }.each do |course| %>
          <div class="list-item">
            <%= link_to(course.name, course_path(course), method: :get, class: "btn big-btn btn-default fit course-button") %>
            <%= link_to("", course, method: :delete, class: "btn big-btn btn-danger delete-button fa fa-trash") %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="custom-panel create-class">
    <div class="header">
      <span>Add class</span>
    </div>

    <div class="contents">
      <form id="new-class-form" class="one-item" action="/courses" method="post">
        <div class="form-group">
          <input name="new_course" type="text" placeholder="Enter course code (e.g., ECSE 424)"/>
        </div>
      </form>

      <button form="new-class-form" id="new-class-button" type="submit" class="btn big-btn btn-default fit">Create new class</button>
    </div>
  </div>

  <%= render(partial: '/partials/modal', locals: { body: '/partials/message_modal_body', id: 'message-modal', include_button: true }) %>
</div>