<!DOCTYPE html>
<meta charset="UTF-8">

<html>
	<%= javascript_include_tag "//www.google.com/jsapi" %>

	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': true %>

	<!-- Malihu custom scrollbar -->
	<script src="//malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
	<link rel="stylesheet" href="//malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.min.css">
	<!-- Awesomplete -->
	<link rel="stylesheet" href="https://cdn.rawgit.com/LeaVerou/awesomplete/gh-pages/awesomplete.css">
	<script src="https://cdn.rawgit.com/LeaVerou/awesomplete/gh-pages/awesomplete.min.js"></script>

	<body class="container page-container">
		<div class="box" style="background-color: none !important;">
			<div id="heading">
				<div class="row">
					<div class="col-md-12">
						<a href="/index.html" class="page-header center">
							<h1 style="font-size:100px;">Classroom Friend</h1>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="separator-md"></div>
		<%= yield %>
	</body>
</html>