<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8">
		<%= csrf_meta_tags %>
		<%= render 'application/favicon' %>

		<title>Classroom Friend | Easy student-teacher communication within lectures</title>
	</head>


	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': true %>

	<body class="container page-container">
		<div class="main-header">
			<a href="/index.html" class="center">
				<h1>Classroom Friend</h1>
			</a>
		</div>
		
		<%= yield %>
	</body>
</html>